/* CSS for header section */

#nav-header {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
	background-color: #f0b400;
	background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
}

.image-div {
  display: flex;
  align-items: center;
}

.name-div {
  display: flex;
  color: white;
  align-items: center;
}