/* */


nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  display:flex;
  font-family: "Source Sans Pro", sans-serif;
  padding: 1.5em;
}

span {
  float: left;
  font-size: 60px;
  font-family: "Bungee", sans-serif;
}

a {
  float: left;
  top: 20px;
  padding: 1.5em;
}

a1 {
  top: 40px;
  font-size: 25px;
  margin-left: 7.2em;
  padding: 1.5em; 
}
