/* CSS for nav section */

nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  position: sticky;
  top:0px;
  align-items: center;
  padding: 1.5rem;
}

#nav-logo {
  font-size: 60px;
  font-family: "Bungee", sans-serif;
}

.nav-box {
  display: flex;
  flex-direction: column;
  height: 120px;
  padding: 1.5rem;
}

#nav-text {
  margin-top: 0.5rem;
  margin-left: 43rem;
}

#nav-icon { 
  display: flex;
  font-size: 27px;
  margin-left: 48.5rem;
  margin-top: 0.3rem;
  color: red;
  animation-name: animateArrow;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes animateArrow {
  from {margin-top: 0.3rem;}
  to {margin-top: 0.7rem;}
}
