/* */


nav {
  display:flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  
  position: sticky;
  top:0px;
}

span {
  float: left;
  font-size: 60px;
  font-family: "Bungee", sans-serif;
  padding: 1.5em;
  margin-top: -55px;
  margin-left: -10px;
}

#nav-tweet-header {
  float: left;
  top: 3px;
  padding: 1.5em;
  position:absolute;
  left:1000px;
}

#arrow-icon {
  top: 30px;
  font-size: 27px;
  margin-left: 22.9em;
  margin-top: 1em;
  padding: 1.5em; 
  color: red;
}
