/* CSS for old-tweet section */

.old-tweet {
  box-sizing: border-box;
  height: 250px;
  margin: auto;
  border: 3px solid;
  padding: 5px;
  transition: box-shadow .3s;
  margin-bottom: 40px;
}

.old-tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}

.old-tweet:hover #user-handle {
  display: block;
}

.old-tweet:hover {
  box-shadow: 8px 8px 14px rgba(44,44,44,12); 
}

#user-image {
  display: flex;
  color: black;
  font-size: 60px;
  padding: 20px;
}

#user-name {
  display: flex;
  color: black;
  font-size: 25px;
  margin-top: 3rem;  
}

#user-handle {
  display: flex;
  color: rgb(144, 144, 211);
  font-size: 25px;
  margin-top: 3rem;
  margin-left: auto;
  padding-right: 30px;
  font-weight: bold;
  display: none;
}

.old-tweet-text {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-left: 10px;
  font-weight: 900;
  margin-right: 10px;
}


hr {
  display: flex;
  width:98%;
  border: 1.5px solid;
  margin-left: 10px;
}

.old-tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size:15px;
}

.old-tweet-footer > div {
  display: flex;
  color: blue;
  margin-right: 30px;
}

#tweet-time {
  display: flex;
  margin-left: 20px;
}

#flag-icon {
  display: flex;
  margin-right: 10px;
}

#retweet-icon {
  display: flex;
  margin-right: 10px;
}

#heart-icon {
  display: flex;
}

